---
/**
 * * Hero centered with video button
 *
 * There is a commented out "awards" section below in case you want that
 */
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";
import VideoButton from "@components/Button/VideoButton.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<section
	id="hero-center"
	class="mt-20 overflow-x-clip bg-[url('/assets/pattern-light-big.svg')] bg-center bg-no-repeat dark:bg-[url('/assets/pattern-dark-big.svg')]"
>
	<div class="site-container mx-auto px-4 pt-20 pb-10">
		<!-- alter the max-w-[750px] here until your text looks nice on large screens -->
		<div class="mx-auto mb-16 flex w-full max-w-[750px] flex-col justify-center px-4 text-center">
			<div data-aos="fade-right" data-aos-trigger="#hero-center">
				

				<h1
					class="text-base-900 dark:text-base-100 mb-6 text-3xl leading-tight font-bold tracking-tight text-pretty lg:text-5xl lg:leading-tight font-heading"
				>
					Engineering with Purpose
				</h1>
			</div>
			<p
				class="description mb-10 text-lg text-pretty lg:text-xl"
				data-aos="fade-right"
				data-aos-delay=".1"
				data-aos-trigger="#hero-center"
			>
				Expert software engineers building systems and improving organizations. We help teams deliver value through functional software and sustainable engineering practices.
			</p>
			<div class="flex flex-wrap justify-center gap-4">
				<Button
					variant="primary"
					href="/contact"
					class="font-heading"
					data-aos="fade-right"
					data-aos-delay=".2"
					data-aos-trigger="#hero-center"
				>
					Start Your Project
				</Button>
			</div>

		</div>
	</div>
</section>