---
import { Icon } from "astro-icon/components";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<a
	class="primary-focus text-base-600 dark:text-base-200 flex items-center gap-2 align-middle text-xl font-bold pt-4"
	href={"/"}
>
	<img
		src="/assets/images/branding/colliery-site-logo.png"
		alt="Colliery logo"
		loading="eager"
		width="300"
		height="auto"
		class="h-auto w-[300px]"
		aria-label="Colliery logo"
	/>
</a>