---
/**
 * * Awards section, useful for local businesses that have won awards (for social proof)
 */

import { Image } from "astro:assets";
---

<section id="awards" class="my-10 w-full">
	<div class="site-container flex justify-center">
		<div class="flex flex-wrap gap-12 md:col-span-2">
			<!-- Awards section removed as images are no longer available -->
		</div>
	</div>
</section>